:root {
    --primary-color: #ECA400;
    --secondary-color: #006992;
    --accent1-color: #27476E;
    --accent2-color: white;
  
    --heading-font: "IM Fell French Canon SC";
    --paragraph-font: Verdana, sans-serif;
}