:root {
    --primary-color: #AF1B3F;
    --secondary-color: #EFC69B;
    --accent-color: #473144;
    --heading-font: "Lora", Impact, serif;
    --paragraph-font: Helvetica, Arial, sans-serif;
}

body {
    font-family: var(--paragraph-font);
    color: var(--accent-color);
    max-width: 1200px;
    margin: auto;
}

h1 {
    font-family: var(--heading-font);
    text-align: center;
}

nav {
    padding: 1em;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    grid-column-start: 2;
    justify-items: flex-end;
    border-top: 1px solid var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

section {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

section > div.info {
    padding: 1em;
    margin: 1em;
    grid-column-start: 1;
    border-right: 1px solid var(--secondary-color);
    line-height: 0.5em;
    text-align: right;
}

section > article {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    margin: 1em;
    grid-column-start: 2;
    justify-content: center;
}

section > article > p{
    font-size: 14px;
}

/* img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

section > h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    max-height: 3em;
}

.sidebar {
    padding: 1em;
    margin: 1em;
    grid-column: 3 / span 3;
    border: 1px solid var(--secondary-color);
}

.skiptocontent a {
	/* set the element to absolute positioning */
    position:absolute;
	/* move it off screen */
    top: -60px;
	/* Make sure it will be on the left edge of the screen */
    text-align: left;
	/* Change the background and color to something that stands out */
    
}
.skiptocontent a:focus {
	/* Move it back on when focused */
    top: +60px
}